.videoHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    color: rgb(65, 62, 62);
}
.videoHeader > * {
    padding: 20px;
    
}